.custom-banner {
  height: 175px;
  width: 100%;
  background-color: #112c38;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.custom-banner img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.footer {
  background-color: #112c38;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}